@media screen and (max-width: 768px){
    .title{
        margin: 0;
        font-size: 16px;
        padding: 0 10px;
    }
    .title2{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .message{
        padding: 0 50px;
        margin: 0;
    }
    .search{
        width: 70%;
    }
    
    .input_section{
        width: 90%;
        margin: 20px auto;
    }
    .move-button{
        margin: 3px;
    }
    footer{
        font-size: 10px;
    }
}